.ul-1 a:hover, .footer a:hover {
  -webkit-transition: color 0.3s liner;
  transition: color 0.3s liner;
  color: #f7c05e;
}

.icons-f .icon-circl {
  width: 40px;
  height: 40px;
}

.down-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-f-small img, .questions-f img {
  width: 15px;
  height: 15px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'Arial Narrow Bold', sans-serif;
  margin: 0;
  padding: 0;
}

/*header*/
.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 90px;
      grid-template-rows: 90px;
  color: white;
}

.logo-menu {
  -ms-grid-row: 1;
      grid-row-start: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 95px;
  -ms-grid-columns: 50% 50%;
      grid-template: 95px/50% 50%;
  width: 100%;
  background-color: black;
}

.logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 80px;
      grid-template-columns: 30px 80px;
  -ms-grid-rows: 30px 30px;
      grid-template-rows: 30px 30px;
  margin-left: 90px;
  margin-top: 20px;
}

.logo img {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  width: 24px;
  height: 29px;
}

.logo h2 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  font-size: 1.5em;
}

.logo h3 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  color: #f7c05e;
  font-size: 1em;
  letter-spacing: 2px;
}

.ul-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 90px;
  margin-right: 100px;
  margin-top: 40px;
  list-style: none;
}

.ul-1 a {
  color: white;
  text-decoration: none;
}

/*section menu*/
.menu-1, .menu-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 500px;
  -ms-grid-columns: 100%;
      grid-template: 200px 500px / 100%;
  background-image: url("img/bg_4.jpg");
  color: white;
  justify-items: center;
}

.our-menu-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 100px;
  -ms-grid-columns: 100%;
      grid-template: 100px 100px / 100%;
  justify-items: center;
  width: 40%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.our-menu-1 p {
  opacity: 0.6;
}

.menu-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (190px)[2];
  -ms-grid-columns: (1fr)[6];
      grid-template: repeat(2, 190px)/repeat(6, 1fr);
  margin-top: 60px;
}

.menu-gallery .pizza-descr {
  width: 100%;
  height: 100%;
}

.menu-gallery img {
  width: 100%;
  height: 100%;
}

.menu-gallery .p-1, .menu-gallery .one, .menu-gallery .p-2, .menu-gallery .two, .menu-gallery .p-3, .menu-gallery .three {
  -ms-grid-row: 1;
  grid-row: 1;
}

.menu-gallery .p-4, .menu-gallery .four, .menu-gallery .p-5, .menu-gallery .five, .menu-gallery .p-6, .menu-gallery .six {
  -ms-grid-row: 2;
  grid-row: 2;
}

.menu-gallery .p-1, .menu-gallery .p-4 {
  -ms-grid-column: 1;
  grid-column: 1;
}

.menu-gallery .p-2, .menu-gallery .p-5 {
  -ms-grid-column: 3;
  grid-column: 3;
}

.menu-gallery .p-3, .menu-gallery .p-6 {
  -ms-grid-column: 5;
  grid-column: 5;
}

.our-menu-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 80px;
  -ms-grid-columns: 100%;
      grid-template: 50px 80px / 100%;
  justify-items: center;
  width: 40%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.our-menu-2 p {
  opacity: 0.6;
}

.pizza-descr {
  padding: 15px;
}

.pizza-descr p {
  line-height: 25px;
  padding-top: 10px;
  font-size: 13px;
  opacity: 0.6;
}

.pizza-descr span {
  color: #f7c05e;
}

#order {
  width: 50px;
  height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  border: 1px solid white;
  background-color: rgba(100, 200, 255, 0);
  color: white;
}

#order:hover {
  -webkit-transition: background-color 0.3s liner;
  transition: background-color 0.3s liner;
  background-color: #f7c05e;
}

.menu-position {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (130px)[4];
  -ms-grid-columns: 50% 50%;
      grid-template: repeat(4, 130px)/50% 50%;
  grid-column-gap: 20px;
}

.pizza-for-order {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 130px 400px;
      grid-template: 1fr / 130px 400px;
}

.pizza-for-order img {
  width: 90px;
  height: 90px;
  margin-top: 20px;
}

.pizza-for-order .description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 30px;
  -ms-grid-columns: 100%;
      grid-template: 40px 30px/ 100%;
  -ms-grid-column: 2;
  grid-column: 2;
}

.pizza-for-order .description p {
  margin-left: 15px;
  margin-top: 30px;
  font-size: 14px;
}

.pizza-for-order .border-dot {
  margin: 0;
  border-bottom: 2px dotted #f7c05e;
  text-align: right;
  position: relative;
  margin-left: 15px;
}

.pizza-for-order .border-dot span {
  float: left;
  position: relative;
  bottom: -20px;
}

.pizza-for-order .border-dot b {
  position: relative;
  bottom: -20px;
}

/*footer*/
.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 400px 150px;
  -ms-grid-columns: 1fr;
      grid-template: 400px 150px/ 1fr;
  color: white;
  background-color: black;
}

.footer a {
  color: white;
}

.text-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 8% 15% 25% 10% 20% 10%;
      grid-template: 1fr/ 8% 15% 25% 10% 20% 10%;
  grid-gap: 40px;
  margin-top: 90px;
}

.text-footer h4 {
  margin-bottom: 35px;
}

.about-f {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.text-f {
  opacity: 0.6;
}

.recent-blog-f {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 45px 75px 75px;
  -ms-grid-columns: 270px;
      grid-template: 45px 75px 75px / 270px;
  grid-gap: 10px;
}

.recent-blog-f h4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.recent-blog-f .rec-blog-f1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 75px;
  -ms-grid-columns: 70px 230px;
      grid-template: 75px / 70px 230px;
}

.recent-blog-f .rec-blog-f {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 75px;
  -ms-grid-columns: 70px 230px;
      grid-template: 75px / 70px 230px;
  margin-top: 10px;
}

.service-f {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 200px;
  -ms-grid-columns: 100%;
      grid-template: 50px 200px / 100%;
}

.service-f ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
  -ms-grid-columns: 100%;
      grid-template: repeat(4, 1fr)/100%;
  opacity: 0.6;
  list-style: none;
}

.questions-f {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.questions-f p {
  opacity: 0.7;
}

#rec-img {
  width: 65px;
  height: 65px;
}

.icons-f {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (45px)[5];
      grid-template: 1fr/repeat(5, 45px);
  grid-gap: 10px;
}

.icons-f .icon-circl {
  background-color: #131212;
  text-align: center;
  border-radius: 50%;
}

.icons-f .icon-circl:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #f7c05e;
}

.icons-f img {
  width: 25px;
  height: 25px;
  opacity: 0.8;
  margin-top: 7px;
}

.text-f-small {
  font-size: 14px;
  margin-left: 10px;
}

.text-f-small p {
  margin-bottom: 18px;
}

.text-f-small span {
  font-size: 12px;
  opacity: 0.6;
}

.questions-f .phone-f, .questions-f .email-f, .questions-f .address-f {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25px 170px;
      grid-template-columns: 25px 170px;
  margin-top: 15px;
}

.down-footer {
  display: -ms-grid;
  display: grid;
}
/*# sourceMappingURL=menu.css.map */